<div class="container">
  <div class='sidebar'>
	  <h3 class="nav-name indie">Khulani<br>Malone</h3>
		<ul class="nav-side">
		  <li class="nav-link averia"><a href="#projects">projects</a></li>
	    <li class="nav-link averia"><a href="#resume">resume</a></li>
	    <li class="nav-link averia"><a href="#contact">contact</a></li>
		</ul>
	</div>
	<div class='details'>
		<div class='section' id='projects'>
			<h1 class='indie'>Projects</h1>
			<div class='project'>
				<h3 class='overlock'>
					<a href="http://www.somehowdating.com">Somehow We're Dating</a> (My Final Project)
				</h3>
				<p class='note averia'>
					'Somehow We're Dating' is a timeline journal web app for tracking 
					reoccurring events and finding synchronicities with other timelines.
				</p>
				<img src="<%= asset_path('somehowdating.png') %>"><br>
				<p class='note averia'> 
					<b><i>Note:</i></b><br>
					You can <b>double click</b> to edit your timelines and occurrences. 
					You can add new occurrences also by double clicking on the timeline bar. 
					To move the timeline bar, you can <b>hover</b> near the top and bottom 
					OR use the <b>mouse wheel</b>.
				</p>
			</div>
			<div class='project'>
				<h3 class='overlock'>
					<a href="http://liketrello.herokuapp.com">Trello</a> (clone)
				</h3>
				<p class='note averia'>
					A web app that mimics the basic functionality of Trello. 
				</p>
				<img src="<%= asset_path('trello.png') %>"> <br>
				<p class='note averia'>
					You can create 'boards'. Within a 'board', you can create 'lists'. And 
					within a 'list', you can create many 'cards'. Also, you can rearrange 
					the order of your 'lists' via dragging. The same can be done with 'cards'. 
					You can even drag 'cards' from one 'list' to another.
				</p>
			</div>
			<div class='project'>
				<h3 class='overlock'><a href="/pages/snakes">Snakes</a> (Javascript/jQuery)</h3>
				<p class='note averia'>
					A JavaScript version of the game 'snakes'. Enjoy :)
				</p>
				<div class='image'>
					<img src="<%= asset_path('snakes.png') %>"> <br>
				</div>
			</div>
		</div>

		<div id='resume'>
			<h1 class='indie'>Resume 
				(<a href="<%= asset_path('malone.2015.pdf') %>">pdf</a>)
			</h1>
			<div class='resume-section'>
				<div class="resume-header left">
					<p class="resume-content">
						<span class="indie size-30 color1">Khulani </span>
						<span class="indie size-30 color2">Yung-Chung Malone</span>
					</p>
					<p class="resume-content">
						<span class="averia size-10">
							<a href="http://www.khulanimalone.com">www.khulanimalone.com</a>
						</span>
					</p>
				</div>
				<div class="resume-header right">
					<p class="resume-content"><span class="averia size-10 color1">(530) 302-7480</span></p>
					<p class="resume-content">
						<span class="averia size-10 color1">
							<a href="mailto:khulani@gmail.com">khulani@gmail.com</a>
						</span>
					</p>
					<p class="resume-content"><span class="averia size-10 color1">2809 Mallorca Lane</span></p>
					<p class="resume-content"><span class="averia size-10 color1">Davis, CA 95618 </span></p>
				</div>
			</div>
			<div class='resume-section'>
				<div class="resume-side left">
					<p class="resume-content"><span class="indie size-11 color2">PROJECTS</span></p>
				</div>
				<div class="resume-main right">
					<p class="resume-content">
						<span class="overlock size-10 color1">Timeline Journal App, </span>
						<span class="indie size-11 color2">Somehow We’re Dating</span>
						<span class="averia size-10 color1">
							(<a href="http://www.somehowdating.com">http://www.somehowdating.com</a>)
						</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Tracks recurring events and finds synchronicities among other timelines.
						</li>
						<li class="averia size-10 color1">
							Ruby/Rails, Backbone, JavaScript/jQuery, HTML5/CSS
						</li>
					</ul>
					<p class="resume-content">
						<span class="overlock size-10 color1">Project Management App, </span>
						<span class="indie size-11 color2">Trello Clone </span>
						<span class="averia size-10 color1">
							(<a href="http://liketrello.herokuapp.com">http://liketrello.herokuapp.com</a>)
						</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Mimics Trello’s functionality
						</li>
						<li class="averia size-10 color1">
							Ruby/Rails, Backbone, Sortable(jQuery UI), HTML5/CSS
						</li>
					</ul>
					<p class="resume-content">
						<span class="overlock size-10 color1">JavaScript Game, </span>
						<span class="indie size-11 color2">Snakes </span>
						<span class="averia size-10 color1">
							(<a href="http://khulani.herokuapp.com/pages/snakes">http://khulani.herokuapp.com/pages/snakes</a>)
						</span>
					</p>
				</div>
			</div>
			<div class='resume-section'>
				<div class="resume-side left">
					<p class="resume-content"><span class="indie size-11 color2">SKILLS</span></p>
				</div>
				<div class="resume-main right">
					<p class="resume-content">
						<span class="averia size-10 color1">
							Ruby/Rails, SQL, JavaScript/ jQuery, Backbone, HTML/CSS, Git, JSON, AJAX, Programming, Black-box Testing, Maya 3D Modeling/Animation/Scripting, Photoshop
						</span>
					</p>
				</div>
			</div>
			<div class='resume-section'>
				<div class="resume-side left">
					<p class="resume-content"><span class="indie size-11 color2">EDUCATION</span></p>
				</div>
				<div class="resume-main right">
					<p class="resume-content">
						<span class="overlock size-10 color1">Web Development, </span>
						<span class="indie size-11 color2">App Academy</span>
						<span class="averia size-10 color1">[Dec 2014 - Mar 2015]</span>
					</p>
					<p class="resume-content">
						<span class="overlock size-10 color1">Chinese Language Study, </span>
						<span class="indie size-11 color2">Qingdao University</span>
						<span class="averia size-10 color1">[2013 - 2014]</span>
					</p>
					<p class="resume-content">
						<span class="overlock size-10 color1">Media Arts and Animation, </span>
						<span class="indie size-11 color2">
							Art Institute of California, Los Angeles
						</span>
						<span class="averia size-10 color1">[2011 - 2012]</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Thesis Project: Developed a data-drive game engine using Java 3D applets and Lua scripts
						</li>
					</ul>
					<p class="resume-content">
						<span class="overlock size-10 color1">M.S. Software Engineering, </span>
						<span class="indie size-11 color2">
							California State University, Sacramento
						</span>
						<span class="averia size-10 color1">[2007]</span>
					</p>
					<p class="resume-content">
						<span class="overlock size-10 color1">
							B.S. Computer Science and Engineering, 
						</span>
						<span class="indie size-11 color2">
							University of California, Davis
						</span>
						<span class="averia size-10 color1">[2003]</span>
					</p>
				</div>
			</div>
			<div class='resume-section'>
				<div class="resume-side left">
					<p class="resume-content"><span class="indie size-11 color2">EXPERIENCE</span></p>
				</div>
				<div class="resume-main right">
					<p class="resume-content">
						<span class="overlock size-10 color1">Software Engineer </span>
						<span class="indie size-11 color2">Intel Corporation</span>
						<span class="averia size-10 color1">[Jul 2007 - Sept 2014]</span>
					</p>
					<p class='resume-content job-role'>
						<span class='indie size-10 color2'>Cert Debug Lead</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Diagnosed and triaged all test/driver/system issues for Intel’s integrated graphics driver certification
						</li>
						<li class="averia size-10 color1">
							Provided debugging documentation and training to improve Intel’s certification process 
						</li>
						<li class="averia size-10 color1">
							Improved automated debug tools and filter automation of non-relevant failures  
						</li>
						<li class="averia size-10 color1">
							Interfaced with developers and external stakeholders to resolve driver issues as well as test issues
						</li>
					</ul>
					<p class='resume-content job-role'>
						<span class='indie size-10 color2'>Automated Test Owner</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Managed automated test suite using internal tools for newly released graphics drivers
						</li>
						<li class="averia size-10 color1">
							Flagged catastrophic test issues to save validation teams from further time and energy investment 
						</li>
						<li class="averia size-10 color1">
							Interfaced with validation architect, test developers, and automation team
						</li>
					</ul>
					<p class='resume-content job-role'>
						<span class='indie size-10 color2'>Validation Program Manager</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Coordinated scheduling of validation cycles for legacy drivers across several different teams
						</li>
						<li class="averia size-10 color1">
							Assessed severity of new issues and validation cycle results for determining driver releases
						</li>
					</ul>
					<p class="resume-content">
						<span class="overlock size-10 color1">Graduate Technical Intern </span>
						<span class="indie size-11 color2">Intel Corporation</span>
						<span class="averia size-10 color1">[Jan 2005 - Jul 2005]</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Executed Black Box Testing on various consumer-based, business client-side software to measure future generation Intel desktop and mobile hardware performance
						</li>
						<li class="averia size-10 color1">
							Learned and used AutoIT scripting for developing automated tests
						</li>
						<li class="averia size-10 color1">
							Setup Remote Installation Service using PXE to boot into Ghost for restoring and creating images 
						</li>
					</ul>
					<p class="resume-content">
						<span class="overlock size-10 color1">Job Intern Trainee</span>
						<span class="indie size-11 color2">
							Dept of Employment and Social Services, Yolo County
						</span>
						<span class="averia size-10 color1">[Jan 2004 - Dec 2004]</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Redesigned and maintained internal intranet site to be more user-friendly and aesthetically appealing
						</li>
						<li class="averia size-10 color1">
							Created various types of PDF documents including newsletters and fillable forms
						</li>
					</ul>
					<p class="resume-content">
						<span class="overlock size-10 color1">Student Programmer</span>
						<span class="indie size-11 color2">
							University of California, Davis
						</span>
						<span class="averia size-10 color1">[Mar 2001 - Mar 2003]</span>
					</p>
				</div>
			</div>
			<div class='resume-section'>
				<div class="resume-side left">
					<p class="resume-content"><span class="indie size-11 color2">ACTIVITIES</span></p>
				</div>
				<div class="resume-main right">
					<p class="resume-content">
						<span class="overlock size-10 color1">Personal Animation Projects, </span>
						<span class="indie size-11 color2">KhuLikeThat</span>
						<span class="averia size-10 color1">[2012 - 2014]</span>
					</p>
					<p class="resume-content">
						<span class="overlock size-10 color1">Stand-up Comedy, </span>
						<span class="indie size-11 color2">KhuLikeThat</span>
						<span class="averia size-10 color1">[2012 - 2014]</span>
					</p>
					<ul>
						<li  class="averia size-10 color1">
							2010 Rooster T Feathers comedy competition finalist
						</li>
					</ul>
					<p class="resume-content">
						<span class="overlock size-10 color1">Theater Group Member, </span>
						<span class="indie size-11 color2">Sons and Ancestors Players</span>
						<span class="averia size-10 color1">[Sept 2005 - Dec 2006]</span>
					</p>
					<ul>
						<li class="averia size-10 color1">
							Received 2006 Spirit Award for being an all-around asset demonstrating dedication, talent, and growth
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class='section' id='contact'>
			<h1 class='indie'>Contact</h1>
			<div>
				<div class='info-left overlock'>My Email: </div>
				<div class='info-right averia'>
					<a href="mailto:khulani@gmail.com">khulani@gmail.com</a>
				</div>
			</div>
			<div>
				<div class='info-left overlock'>My GitHub: </div>
				<div class='info-right averia'>
					<a href="http://github.com/khulani">http://github.com/khulani</a>
				</div>
			</div>
		</div>
	</div>
</div>