<div class="container">
  <div class='sidebar'>
	  <h3 class="nav-name"><a href="#about">Khulani<br>Malone</a></h3>
		<ul class="nav-side">
		  <li class="nav-link"><a href="#projects">projects</a></li>
	    <li class="nav-link"><a href="#resume">resume</a></li>
	    <li class="nav-link"><a href="#contact">contact</a></li>
		</ul>
	</div>
	<div class='details'>
		<div class='section' id='projects'>
			<h1>Projects</h1>
			<div class='project'>
				<h3>
					<a href="http://www.somehowdating.com">Somehow We're Dating</a> (My Final Project)
				</h3>
				<p class='note'> 
					<b><i>Note:</i></b><br>
					You can <b>double click</b> to edit your timelines and occurrences. 
					You can add new occurrences also by double clicking on the timeline bar. 
					To move the timeline bar, you can <b>hover</b> near the top and bottom 
					OR use the <b>mouse wheel</b>.
				</p>
				<img src="/assets/somehowdating_edit.png"><br>
			</div>
			<div class='project'>
				<h3><a href="http://liketrello.herokuapp.com">Trello</a> (clone)</h3>
				<img src="/assets/trello.png"> <br>
			</div>
			<div class='project'>
				<h3><a href="/pages/snakes">Snakes</a> (Javascript/jQuery)</h3>
				<img src="/assets/snakes.png"> <br>
			</div>
		</div>
		<div class='section' id='contact'>
			<h1>Contact</h1>
			<p>My Email: <a href="mailto:khulani@gmail.com">khulani@gmail.com</a></p>
			<p>My GitHub: <a href="http://github.com/khulani">http://github.com/khulani</a></p>
		</div>
	</div>
</div>