<h1>Khulani Malone</h1>
<div class='info'>
	<ul>
		<li><a href="http://www.somehowdating.com">Somehow We're Dating</a> (My Final Project)</li>
		<li><a href="http://liketrello.herokuapp.com">Trello</a>(clone) </li>
		<li><a href="/pages/snakes">Snakes</a>(Javascript/jQuery) </li>
	</ul>
</div>