// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar {
  position: fixed;
  width: 170px;
  text-align: right; 
}

.nav-side {
	list-style-type: none;
}

ul {
	margin: 0;
}

.details {
	margin-left: 300px;
	padding-bottom: 100px;
}

.section {
	width: 700px;
}

.image {
	width: 100%;
	text-align: center;
}

.project {
	width: 100%;
	padding-bottom: 20px;
}

.note {
	padding: 0 20px 0 20px;
}

.info-right {
	float: left;
	width: 400px;
	margin: 10px;
}

.info-left {
	float: left;
	width: 150px;
	text-align: right;
	margin: 10px;
}

.resume-header {
	float: left;
}

.resume-header.right {
	margin-left: 100px;
}

.resume-section {
	margin-bottom: 15px;
}

.resume-section:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.resume-side {
	float: left;
	width: 100px;
	text-align: right;
}

.resume-main {
	float: left;
	width: 600px;
	margin-left: 10px;
}

.size-10 {
	font-size: 10pt;
}

.size-11 {
	font-size: 11pt;
}

.size-30 {
	font-size: 30pt;
}

.color2 {
	color: rgb(255, 153, 0);
}

.overlock {
	font-family: "Overlock SC";
	font-weight: bold;
}

.indie {
	font-family: "Indie Flower";
	font-weight: bold;
}

.averia {
	font-family: "Averia Sans Libre";
}

.resume-content {
	line-height: 1.0;
	margin: 0;
}

.job-role {
	margin-left: 20px;
}

img {
	max-width: 100%;
}


